body {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #fff;
    background-color: #000;
}
h1 {
    display: flex;
    justify-content: center;
    color: blue;
    font-size: 40px;
}
p {
    font-size: 25px;
    color: rgb(234, 234, 234);
    margin: 60px auto;
    display: flex;
    justify-content: center;
}
.vamo {
    width: 700px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.foto_de_perfil {
    overflow: hidden;
    box-sizing: border-box;
}
.foto_de_perfil:hover {
    border: 2px solid #fff;
    max-height: 160px;
    min-height: 160px;
    min-width: 160px;
    max-width: 160px;
}
.zoom_foto {
    transition: 1s;
}
.zoom_foto:hover {
    transform: scale(1.2);
}
.blocos {
    margin: 26px;
}
.nome_perfil {
    display: flex;
    justify-content: center;
}
.section_buton {
    display: flex;
    justify-content: center;
    margin: 150px;
}
button {
    color: #fff;
    background-color: #000;
    width: 206px;
    height: 50px;
    border: 2px solid #fff;
    box-shadow: 2px 2px 2px rgb(255, 0, 0);
}
button:hover {
    color: #000;
    background-color: #fff;
    border: 2px solid rgb(255, 0, 0);
}